{% extends 'dashboard/base.html' %}
{% block title %}
Category
{% endblock %}

{% block content %}
<div class="app-title">
    <div>
        <h1><i class="fa fa-edit"></i>Book Vehicle</h1>

    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="tile">
            <!--            <h3 class="tile-title">New Category Data</h3>-->
            <div class="tile-body">
                <form class="form-horizontal" action="" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-group row">

                            <div class="form-group col-lg-12">
                                <label for="exampleInputName">Categoty Name</label>
                                <div id="exampleInputName" name="name">
                                    {{form.categoty_name}}
                                </div>
                            </div>


                            <div class="form-group col-lg-12">
                                <label for="exampleInputWebsite">Owner Name</label>
                                <div id="exampleInputWebsite" name="Web name">
                                    {{form.owner_name}}
                                </div>
                            </div>

                            <div class="form-group col-lg-12">
                                <label for="exampleInputEmai">Owner Contact</label>
                                <div id="exampleInputEmai" name="Email">
                                    {{form.owner_contact}}
                                </div>
                            </div>

                            <div class="form-group col-lg-12">
                                <label for="exampleInputMobile">Vehicle Model</label>
                                <div id="exampleInputMobile" name="Mobile Number">
                                    {{form.vehicle_model}}
                                </div>
                            </div>

                            <div class="form-group col-lg-12">
                                <label for="exampleInputGst">Vehicle No</label>
                                <div id="exampleInputGst" name="GST">
                                    {{form.vehicle_no}}
                                </div>
                            </div>

                            <div class="form-group col-lg-12">
                                <label for="exampleInputCin">Chessis No</label>
                                <div id="exampleInputCin" name="CIN">
                                    {{form.chessis_no}}
                                </div>
                            </div>




                            <div class="form-group col-lg-12">
                                <label for="exampleInputAddress">Parking Slot</label>
                                <div id="exampleInputAddress" name="Address">
                                    {{form.parking_slot}}
                                </div>
                            </div>




                    </div>
                    <div class="tile-footer">
                        <div class="row">
                            <div class="col-md-8 col-md-offset-3">
                                <button class="btn btn-primary" type="submit"><i
                                        class="fa fa-fw fa-lg fa-check-circle"></i>Submit
                                </button>&nbsp;&nbsp;&nbsp;<a class="btn btn-secondary" href="#"
                                                              onClick="window.location.reload();">
                                <i class="fa fa-fw fa-lg fa-times-circle"></i>Cancel</a>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>
    <div class="clearix"></div>
</div>
{% endblock %}
