{% extends 'dashboard/base.html' %}
{% block title %}
AMC Inventory View
{% endblock %}

{% block content %}

      <div class="app-title">
        <div>
          <h1><i class="fa fa-th-list"></i> AMCInventory </h1>
<!--          <p>Book vehicle to display analytical data effectively</p>-->
        </div>
        <ul class="app-breadcrumb breadcrumb side">
          <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
          <li class="breadcrumb-item">Tables</li>
          <li class="breadcrumb-item active"><a href="#">Data Table</a></li>
        </ul>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="tile">
            <div class="tile-body">
              <div class="table-responsive">
                <form class="row">
                        <div class="form-group col-md-3">
<!--                            <label class="control-label">Name</label>-->
                            <input class="form-control" type="text" placeholder="Search" id="search_txt" name="search">
                        </div>

                        <div class="form-group col-md-4 align-self-end">
                            <button class="btn btn-primary" type="submit"><i class="fa fa-fw fa-lg fa-check-circle"></i>Search
                            </button>
                        </div>
                    </form>
                <table class="table table-hover table-bordered" id="sampleTable">
                  <thead>
                    <tr>
                      <th>Customer Name</th>
                      <th>Location</th>
                      <th>Installation Location</th>
                      <th>Product Description</th>
                      <th>Device Type</th>
                      <th>Model Number</th>
                      <th>Serial Number</th>
                      <th>AMC Start Date</th>
                      <th>AMC End Date</th>
                      <th>Warranty Start Date</th>
                      <th>Warranty End Date</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  {% for inventory in form %}

                  <tbody>
                    <tr>
                      <td>{{inventory.customer_name}}</td>
                      <td>{{inventory.location}}</td>
                      <td>{{inventory.installation_location}}</td>
                      <td>{{inventory.product_description}}</td>
                      <td>{{inventory.device_type}}</td>
                      <td>{{inventory.model_number}}</td>
                      <td>{{inventory.serial_number}}</td>
                      <td>{{inventory.amc_start_date}}</td>
                      <td>{{inventory.amc_end_date}}</td>
                      <td>{{inventory.warranty_start_date}}</td>
                      <td>{{inventory.warranty_end_date}}</td>

                      <td>
                        <a class="btn btn-primary" href="{% url 'amcInventoryEdit' inventory.pk %}"><i class="fa fa-edit"></i></i></a>

                      </td>
                    </tr>
                  </tbody>

                  {% endfor %}
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
{% endblock %}
