{% extends 'dashboard/base.html' %}
{% block title %}
Print vehicle
{% endblock %}

{% block content %}


<div class="app-title">
    <div>
        <h1><i class="fa fa-file-text-o"></i> Booking Details</h1>
        <p>booking Format</p>
    </div>
    <ul class="app-breadcrumb breadcrumb">
        <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
        <li class="breadcrumb-item"><a href="#">Booking</a></li>
    </ul>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="tile">
            <section class="invoice">
                <div class="row mb-4">
                    <div class="col-6">
                        <h2 class="page-header"><i class="fa fa-globe"></i> Booking Inc</h2>
                    </div>
                    <div class="col-6">
                        <h5 class="text-right">{{printView.booking_date}}</h5>
                    </div>
                </div>
                <div class="row invoice-info">
                    <div class="col-4"><b>Barcode No: {{printView.barcode_details}}</b><br><br><b>Vehicle No:</b>
                        {{printView.vehicle_no}}<br><b>Chessis No:</b>
                        {{printView.chessis_no}}<br><b>Vehicle Model:</b> {{printView.vehicle_model}}
                    </div>

                    <div class="col-4"><b>Selected Slot :</b> {{printView.parking_slot}}<br><br><b>Variants :</b>
                        {{printView.variants}}<br><b>Color:</b>
                        {{printView.color}}<br><b>Entry Date/Time:</b> {{printView.booking_date}}
                    </div>
                </div>

                <div class="row d-print-none mt-2" id="printInvoice">
                    <div class="col-12 text-right"><a class="btn btn-primary"  href=""><i class="fa fa-print"></i></a></div>
                </div>
            </section>
        </div>
    </div>
</div>

<!--    <script src="js/plugins/pace.min.js"></script>-->


{% endblock %}
{% block script %}
{{ block.super }}

<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>-->
<!--<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.12/css/select2.min.css" rel="stylesheet"/>-->
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.12/js/select2.min.js"></script>-->


<script>

$(document).ready(function(){
  $("#printInvoice").click(function(){
  console.log("hii")
    $('.invoice').printThis();
  });
});











</script>
{% endblock %}s