<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Main CSS-->
    <link rel="stylesheet" type="text/css" href="{% static 'dashboard/css/main.css' %}">
    <!-- Font-icon css-->
    <link rel="stylesheet" type="text/css"
          href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Login - Kemar</title>
</head>
<body>
<section class="material-half-bg">
    <div class="cover"></div>
</section>
<section class="login-content">
    <div class="logo">
        <h1>Kemar</h1>
    </div>
    <div class="login-box">
        <form class="login-form" action="" method="post">
            {% csrf_token %}

            <h3 class="login-head"><i class="fa fa-lg fa-fw fa-user"></i>SIGN IN</h3>
            <div class="form-group">
                <label class="control-label">USERNAME</label>
                <input class="form-control" type="text" placeholder="Username" name="username" autocomplete="off"
                       autofocus>
            </div>
            <div class="form-group">
                <label class="control-label">PASSWORD</label>
                <input class="form-control" type="password" placeholder="Password" name="password" autocomplete="off">
            </div>
            <div class="form-group">
                <div class="utility">
                    <div class="animated-checkbox">
                        <label>
                            <input type="checkbox"><span class="label-text">Stay Signed in</span>
                        </label>
                    </div>
                    <p class="semibold-text mb-2"><a href="#" data-toggle="flip">Forgot Password ?</a></p>
                </div>
            </div>
            <div class="form-group btn-container">
                <button class="btn btn-primary btn-block"><i class="fa fa-sign-in fa-lg fa-fw"></i>Login</button>

            </div>
            <div class="form-group mt-2 mx-3">
                <p><a href="{%url 'register' %}">Don't have an account? <b class="mx-2"> Sign Up.</b></a></p>
            </div>
        </form>

        <form class="forget-form" action="index.html">
            <h3 class="login-head"><i class="fa fa-lg fa-fw fa-lock"></i>Forgot Password ?</h3>
            <div id="result"></div>
            <div class="form-group">
                <label class="control-label">Enter Username</label>
                <input class="form-control" type="text" id="user_username" name="user_username" placeholder="Username">
            </div>
            <div class="form-group" style="display:none" id="afterotp">
                <label class="control-label">Enter OTP</label>
                <input class="form-control" type="text" id="uotp" name="user_otp" placeholder="Enter OTP">
                <button type="button" class="btn btn-primary btn-block" onclick="matopt()"><i
                        class="fa fa-unlock fa-lg fa-fw"></i>OTP Verification
                </button>
            </div>
<!--            <div class="form-group btn-container">-->
<!--                <button type="button" class="btn btn-primary btn-block" onclick="getpass()" id="continue"><i-->
<!--                        class="fa fa-unlock fa-lg fa-fw"></i>RESET-->
<!--                </button>-->
<!--            </div>-->

            <div class="form-group" style="display:none" id="changepass">
                <label class="control-label">Enter New Password</label>
                <input class="form-control" type="text" id="npass" name="user_otp" placeholder="Enter New Password">
                <br>

                <input type="submit" value="Change Password" class="btn btn-primary btn-block">
            </div>

            <input type="hidden" name="realotp" id="realotp">


            <div class="form-group mt-3">
                <p class="semibold-text mb-0"><a href="#" data-toggle="flip"><i class="fa fa-angle-left fa-fw"></i> Back
                    to Login</a></p>
            </div>
            <div class="form-group btn-container">
                <button type="button" class="btn btn-primary btn-block" onclick="getpass()" id="continue"><i
                        class="fa fa-unlock fa-lg fa-fw"></i>RESET
                </button>
            </div>
        </form>
    </div>

</section>
<!-- Essential javascripts for application to work-->
<script src="{% static 'dashboard/js/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'dashboard/js/popper.min.js' %}"></script>
<script src="{% static 'dashboard/js/bootstrap.min.js' %}"></script>
<script src="{% static 'dashboard/js/main.js' %}"></script>
<!-- The javascript plugin to display page loading on top-->
<script src="{% static 'dashboard/js/plugins/pace.min.js' %}"></script>
<script type="text/javascript">
<!--      // Login Page Flipbox control-->
      $('.login-content [data-toggle="flip"]').click(function() {
      	$('.login-box').toggleClass('flipped');
      	return false;
      });
<!--    -->

function getpass(){

var user_username=$("#user_username").val();
$.ajax({
url:"{% url 'reset_password' %}",
type:"GET",
data: {'user_username': user_username},
success:function(data){
<!--alert(data)-->
<!--alert(JSON.stringify(data))-->
if(data.status=="failed")
{
    $("#result").html("<p class='alert alert-danger'>No user register with this username.</p>");
}
else if(data.status=="error")
{
   $("#result").html("<p class='alert alert-danger'>Could not send email to "+ data.email+" something went to wrong</p>");
}

else if(data.status=="sent")
{
$("#result").html("<p class='alert alert-success'>An opt sent to your register email id to "+ data.email+" </p>");
$("#continue").hide();
$("#afterotp").slideDown(1000);
$("#realotp").val(data.otp);
}
<!--else if(data.)-->
<!--{-->
<!--}-->
}

});

}

function matopt(){
uotp=$("#uotp").val()
realotp=$("#realotp").val()

if(uotp==realotp){
$("#afterotp").hide();
$("#changepass").fadeIn(1000);
$("#result").html("<p class='alert alert-success'>Validation SuccessFul</p>");

}
else
{
$("#result").html("<p class='alert alert-danger'>Incorrect OTP</p>");

}

}



</script>
</body>
</html>