{% extends 'dashboard/base.html' %}
{% block title %}
Location
{% endblock %}

{% block content %}
<div class="app-title">
    <div>
        <h1><i class="fa fa-plus"></i>Location</h1>

    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="tile">
            <div class="tile-body">
                <form class="form-horizontal" action="" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-group row">
                        <div class="col-md-8">
                            <p id="infotext">Allow the location prompt....</p>
                            <p id="status"></p>

                        </div>
                    </div>
                                        <div class="tile-footer">
                                            <div class="row">

                                                <div class="col-md-8 col-md-offset-3">
                                                    <button class="btn btn-primary" type="submit" onclick="getlocation()"><i
                                                            class="fa fa-fw fa-lg fa-check-circle"></i>Submit
<!--                                                    </button>&nbsp;&nbsp;&nbsp;<a class="btn btn-secondary" href="#"-->
<!--                                                                                  onClick="window.location.reload();">-->
<!--                                                    <i class="fa fa-fw fa-lg fa-times-circle"></i>Cancel</a>-->
                                                </div>
                                            </div>
                                        </div>
                </form>
            </div>

        </div>
    </div>
    <div class="clearix"></div>
</div>

{% endblock %}


{% block script %}
{{ block.super }}

<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>-->
<!--  <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCfScxBlqdk06lSo1Lx8NSgmKCC4SgbqRs&callback=initMap"-->
<!--  type="text/javascript"></script>-->

<script>
var x=document.getElementById('status');


function getlocation() {
  if (navigator.geolocation) {
    navigator.geolocation.getCurrentPosition(showPosition, showError);
  } else {
    x.innerHTML = "Geolocation is not supported by this browser.";
  }
}

function showPosition(position) {
<!--  x.innerHTML = "Latitude: " + position.coords.latitude +-->
<!--  "<br>Longitude: " + position.coords.longitude;-->

  var locAPI ="http://maps.googleapis.com/maps/api/geocode/json?latlng="+position.coords.latitude +","+position.coords.longitude +"&sensor=true";
  x.innerHTML =locAPI;

  $.ajax({
    type: "GET",
    url: locAPI,
    success: function(data, jqXHR) {
    console.log(data)
    x.innerHTML= data.results[0].address_components[4].long_name+", ";
    x.innerHTML= data.results[0].address_components[5].long_name+", ";
    x.innerHTML= data.results[0].address_components[6].long_name;



    }
});



}

function showError(error) {
  switch(error.code) {
    case error.PERMISSION_DENIED:
      x.innerHTML = "User denied the request for Geolocation."
      break;
    case error.POSITION_UNAVAILABLE:
      x.innerHTML = "Location information is unavailable."
      break;
    case error.TIMEOUT:
      x.innerHTML = "The request to get user location timed out."
      break;
    case error.UNKNOWN_ERROR:
      x.innerHTML = "An unknown error occurred."
      break;
  }
}























</script>
{% endblock %}
