{% extends 'dashboard/base.html' %}
{% block title %}
Location
{% endblock %}

{% block content %}
<div class="app-title">
    <div>
        <h1><i class="fa fa-plus"></i>Location</h1>

    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="tile">
            <div class="tile-body">
                <form class="form-horizontal" action="" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-group row">
                        <div class="col-md-8">
                            <p id="infotext">Allow the location prompt....</p>
                            <p id="status"></p>

                        </div>
                    </div>
                    <!--                    <div class="tile-footer">-->
                    <!--                        <div class="row">-->
                    <!--                            <div class="col-md-8 col-md-offset-3">-->
                    <!--                                <button class="btn btn-primary" type="submit"><i-->
                    <!--                                        class="fa fa-fw fa-lg fa-check-circle"></i>Submit-->
                    <!--                                </button>&nbsp;&nbsp;&nbsp;<a class="btn btn-secondary" href="#"-->
                    <!--                                                              onClick="window.location.reload();">-->
                    <!--                                <i class="fa fa-fw fa-lg fa-times-circle"></i>Cancel</a>-->
                    <!--                            </div>-->
                    <!--                        </div>-->
                    <!--                    </div>-->
                </form>
            </div>

        </div>
    </div>
    <div class="clearix"></div>
</div>

{% endblock %}


{% block script %}
{{ block.super }}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<!--  <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCfScxBlqdk06lSo1Lx8NSgmKCC4SgbqRs&callback=initMap"-->
<!--  type="text/javascript"></script>-->

<script>
$(document).ready(function()
{
debugger

console.log("Hello location")
var status=$("#status")
var infotext=$("#infotext")
var timer=setTimeout(function(){
  status.text("Can not the fetch location.Make sure your browser support and allow location tracking.");

},30000)

function getlocation(){
if(navigator.geolocation){
navigator.geolocation.getCurrentPosition(function(position){
status.html("Latitude :" + position.coords.latitude + " <br/> Longitude : "+ position.coords.longitude);
infotext.hide();
$.ajax({
            method: 'GET',
            url: 'https://maps.googleapis.com/maps/api/geocode/json?latlng=' + position.coords.latitude + ','+
             position.coords.longitude +'&sensor=true',

            success: function(data){

                    address = data.results[0].formatted_address;
                    status.append("<br>Address :" +address);
                    infotext.hide();
                    clearTimeout(timer);
            }
      })

},function(error){
 status.text("Error while fetch location :"+ error.message);


})

}
else
{
 status.text(" Geolocation is not support by this browser.")
}

}
getlocation();

});



</script>
{% endblock %}
