{% extends 'dashboard/base.html' %}
{% load static %}
{% block title %}
Vehicle Details
{% endblock %}

{% block content %}
<!--        <form action="{% url 'vehicle' %}" method="post" enctype="multipart/form-data">-->
<!--            {% csrf_token %}-->
<!--            <input type="file"-->
<!--                   title="Upload excel file"-->
<!--                   name="excel_file"-->
<!--                   style="border: 1px solid black; padding: 5px;"-->
<!--                   required="required">-->
<!--            <p>-->
<!--            <input type="submit"-->
<!--                   value="Upload"-->
<!--                   style="border: 1px solid green; padding:5px; border-radius: 2px; cursor: pointer;">-->
<!--        </form>-->

<!--        <p></p>-->
<!--        <hr>-->

<!--        {% for row in excel_data %}-->
<!--            {% for cell in row %}-->
<!--                {{ cell }}&nbsp;&nbsp;-->
<!--            {% endfor %}-->
<!--            <br>-->
<!--        {% endfor %}-->

<div class="app-title">
    <div>
        <h1><i class="fa fa-edit"></i> Vehicle Details</h1>
        <p></p>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="tile">
            <div class="tile-body">
                <form class="form-horizontal" action="" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-group row">
                        <label class="control-label col-md-3">{{form}}</label>
                        <div class="col-md-8">

                        </div>
                    </div>
                    <div class="tile-footer">
                        <div class="row">
                            <div class="col-md-8 col-md-offset-3">
                                <button class="btn btn-primary" type="submit"><i
                                        class="fa fa-fw fa-lg fa-check-circle"></i>Submit
                                </button>&nbsp;&nbsp;&nbsp;<a class="btn btn-secondary" href="#"
                                                              onClick="window.location.reload();">
                                <i class="fa fa-fw fa-lg fa-times-circle"></i>Cancel</a>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>
    <div class="clearix"></div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="tile">
            <div class="tile-body">
                <div class="table-responsive">
                    <table class="table table-hover table-bordered" id="sampleTable">
                        <thead>
                        <tr>

                            <th>Barcode Number</th>
                            <th>Vehicle Number</th>
                            <th>Chessis Number</th>
                            <th>Vehicle Model</th>
                            <th>Variants</th>
                            <th>Color</th>
                        </tr>
                        </thead>
                        {% for vehicle in model %}

                        <tbody>
                        <tr>
                            <td>{{vehicle.barcode_number}}</td>
                            <td>{{vehicle.vehicle_number}}</td>
                            <td>{{vehicle.chessis_number}}</td>
                            <td>{{vehicle.vehicle_model}}</td>
                            <td>{{vehicle.variants}}</td>
                            <td>{{vehicle.color}}</td>
                        </tr>
                        </tbody>

                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}
{% block script %}
{{ block.super }}

<script type="text/javascript" src="{% static 'dashboard/js/plugins/jquery.dataTables.min.js' %}"></script>
<script type="text/javascript" src="{% static  'dashboard/js/plugins/dataTables.bootstrap.min.js' %}"></script>

<script type="text/javascript">
  $('#sampleTable').DataTable();




</script>


<script>


if(document.location.hostname == 'pratikborsadiya.in') {
      	(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      	(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      	m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      	})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      	ga('create', 'UA-72504830-1', 'auto');
      	ga('send', 'pageview');
      }




</script>


{% endblock %}
